<!DOCTYPE html>
<html lang="en">
{% load static %}

{% static "" as baseUrl %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="{{baseUrl}}cart/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{{baseUrl}}cart/css/core-style.css">
    <link rel="stylesheet" href="{{baseUrl}}cart/style.css">

<!-- Bootstrap core CSS -->
<link
href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
rel="stylesheet"
/>

<!-- Additional CSS Files -->
<link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/tooplate-main.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/owl.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}" />

</head>

<body>
        <!-- Pre Header -->
       <!-- Pre Header -->
       <div id="pre-header">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <span
                >FREE SHIPPING FOR ALL ORDERS OVER $150 | SAME DAY DISPATCH
                (ORDERS PLACED BEFORE 4PM)</span
              >
            </div>
            <div class="col-md-4 action_header">
            {% if authenticated %}
            <div class="row">
              <div class="col-md-6" style="padding: 10px;">
                <p style="color: white;">Welcome {{user.first_name}}</p>
              </div>
              <div class="col-md-4" style="padding: 10px;">
                <a href="/cart" style="font-size: 14px; color: white;">View Cart ({{amount_in_cart}})</a>
              </div>
              <div class="col-md-2" style="padding: 10px;">
                <a href="/logout"><p style="color: white;">Logout</p></a>
              </div>
  
              
            </div>
              
            
            
            
            {% else %}
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6" style="padding: 10px;">
                  <a href="/login"><p style="color: white;">Login</p></a>
                </div>
                <div class="col-md-6" style="padding: 10px;">
                  <a href="/register"><p style="color: white;">Register</p></a>
                </div>
              </div>
              
            </div>
              
            
            {% endif %}
            </div>
            
            
          </div>
        </div>
      </div>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
          <div class="container">
            <a class="navbar-brand" href="#"
              ><img
                style="width: 300px"
                src="{% static 'assets/images/mnm-header-logo.png' %} "
                alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarResponsive"
              aria-controls="navbarResponsive"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../../"
                    >Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../../products">Products</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="../../about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../../contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>About Us</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img src="assets/images/about-us.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>Phasellus vel interdum elit</h4>
              <p><a href="https://www.pexels.com/photo/group-of-people-raising-right-hand-1059120/">Photo Credit</a> goes to Pexels website. Aliquam erat volutpat. Pellentesque fringilla, ligula consectetur cursus scelerisque, leo elit pellentesque sapien, et pharetra arcu elit vitae sem. Suspendisse erat dui, condimentum in mi ac, varius tempor sapien. Donec in justo sit amet ex aliquet maximus ac quis erat.</p> 
              <br>
              <p>Donec fermentum tincidunt tellus quis fermentum. Proin eget imperdiet purus. Nulla facilisi. Aliquam tincidunt porttitor dui sed euismod. Duis est libero, rhoncus fermentum turpis id, tempus fringilla ipsum. Nullam venenatis tincidunt neque vel hendrerit. Suspendisse porta pretium porttitor.</p>
              <br>
              <p>Sed purus quam, ultricies eu leo in, sollicitudin varius quam. Proin dictum urna ac diam fermentum tempus. Pellentesque urna urna, ullamcorper a tincidunt dignissim, venenatis in nisi. Vivamus in volutpat tellus. Etiam fermentum luctus posuere.</p>
              <br>
              <p><a rel="nofollow" href="https://www.tooplate.com/view/2114-pixie">Pixie HTML Template</a> can be converted into your desired CMS theme. You can use this Bootstrap v4.1.3 layout for any online shop. Please tell your friends about <a rel="nofollow" href="https://www.facebook.com/tooplate/">Tooplate</a>. Thank you.</p>
              <div class="share">
                <h6>Find us on: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->

<!-- Subscribe Form Starts Here -->
<div class="subscribe-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <div class="line-dec"></div>
          <h1>Subscribe on Minto Mobiles now!</h1>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="main-content">
          <p>
           Our newsletter launches soon! Subscribe early!
          </p>
          <div class="container">
            <form id="subscribe" action="" method="get">
              <div class="row">
                <div class="col-md-7">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      id="email"
                      onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                      onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                      value="Your Email..."
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-md-5">
                  <fieldset>
                    <button type="submit" id="form-submit" class="button">
                      Subscribe Now!
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscribe Form Ends Here -->

<!-- Footer Starts Here -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <img src="assets/images/header-logo.png" alt="" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">How It Works ?</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="social-icons">
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-rss"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Ends Here -->

<!-- Sub Footer Starts Here -->
<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-text">
          <p>
            Copyright &copy; 2021 Minto Mobiles - Design:
            <a rel="nofollow" href="https://www.facebook.com/tooplate"
              >Tooplate</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sub Footer Ends Here -->
<!-- ##### Footer Area End ##### -->

<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="{{baseUrl}}cart/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="{{baseUrl}}cart/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="{{baseUrl}}cart/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="{{baseUrl}}cart/js/plugins.js"></script>
<!-- Active js -->
<script src="{{baseUrl}}cart/js/active.js"></script>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/flex-slider.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
